.App{
  background-color: #0d2135;
  // background-image: url(../images/flippedChicago.jpg);
  background-size:cover !important;
  background-repeat: no-repeat;
  color:#ffffff;
  font-family: 'Courier New','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 1200px;
  text-align: center;

  
}