.App{
  // background-color: #0d2135;
  background-image: url(../images/flippedChicago.jpg);
  background-size:cover !important;
  background-repeat: no-repeat;
  color:#ffffff;
  font-family: 'Courier New','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 1200px;
  text-align: center;
  
  /* home page  */
  .home-page{
      padding-top: 35px;
      z-index: 1;
      
      @media screen and (min-width: 500px){
        padding-top: 0px;
        position: relative;
        top:-110px;
        // height:100px;
      }
  
      .trailsText {
      // position: relative;
      // width: 100%;
      will-change: transform, opacity;
    
      }
  
      .main-text{
        text-align: center;
        /* margin: auto; */
        @media screen and (min-width:500px) {
          position: relative;
          top:180px; 
          margin: auto;
        }
  
      }
      .hello-center{
        font-size: 30px;
        letter-spacing: 5px;
        @media screen and (min-width:500px) {
          padding:50px 200px 20px 0px ;
        }
        @media screen and (min-width:750px){
          font-size: 40px;
          padding:50px 300px 20px 0px ;
        }
  
      }
      .name-center{
        padding-top: 10px;
        font-size: 80px;
        @media screen and (min-width:500px) {
          font-size: 69px;
        }
        @media screen and (min-width:750px){
          font-size: 100px;
        }
      }
      .title-text{
        padding-top: 10px;
        font-size: 32px;
  
        @media screen and (min-width:500px) {
          padding: 10px 0px 20px 0px;
          font-size: 47px;
        }
        @media screen and (min-width:750px){
          font-size: 70px;
        }    
      }
  
      .sub-text{
        padding-top: 450px;
        @media screen and (min-width:500px){
          padding-top: 570px;
        }
        @media screen and (min-width:750px){
          padding-top: 550px;
        }
      }
      .white-font{
        color: #ffffff;
        font-weight: 900;
      }
      .text-align-center{
        text-align: center;
      }
      
      .change-text{
        text-align: center;
        font-size: 24px;
        font-weight: 900;
        text-shadow: 1px 0px 1px #bcb2b2;
  
        @media screen and (min-width:500px) {
          font-size: 30px;
          padding: 54px 0px 0px 0px;
          text-shadow: 1px 0px 1px #969292;
        }
        @media screen and (min-width:750px){
          text-align: center;
          // font-size: 40px;
          font-weight: 900;
          text-shadow: 1px 0px 1px #edecec;
          padding: 30px 0px 0px 80px;
        }   
      }
  
  }
  // about me page 
  .about-me-page{
      // color:#ffffff;
      position:relative;
      top: 10px;
      padding: 10px;
      // background-color: rgb(38, 46, 79);
      background-color: #ffffff;
      height: 800px;
      @media screen and (min-width:500px) {
        top: 100px;
      }
  
      h1{
        // color:white;
        color:black
  
  
      }
      .about-me-content{
        @media screen and (min-width:750px){
          display: flex;
          flex-direction: row-reverse;
          justify-content:space-evenly;
          margin-top:150px;
        }
      }
  
      .Paragraph{
        color:black;
        font-family: Arial, Helvetica, sans-serif;
        background-color: white;
        text-align: center;
        position:relative;
        z-index: 2;
        border-radius: 10px;
        margin-bottom: 50px;
        max-width: 400px;
        margin: auto;
        line-height: 25px;
        @media screen and (min-width:750px){
          width: 400px;
          margin: none;
          // margin-left: 100px;
        }
        @media screen and (min-width:1000px){
          font-size:20px;
          max-width: 550px;
          width: 550px;
          // text-align: left;
        }
        .large{
          font-weight:900;
          font-size: 30px;
          padding: 5px;
  
        }
        .textcoder{
          font-weight: 900;
          font-size: 25px;
          padding: 10px;
        }
        .textme{
          font-weight: 600;
          @media screen and (min-width:1000px){
            line-height: 30px;
            text-align: left;
  
          }
        }
  
  
      }
      .box{
        position: relative;
        display: flex;
        margin:auto;
        z-index: 3;
        // background-color:rgb(38, 46, 79) ;
        background-color: #ffffff;
        width: 280px;
        height:50px;
        @media screen and (min-width:750px){
          display: none;
          position: absolute;
          top:60px;
          width: 250px;
          height:50px;
        }
      }
      .pictureme{
        position: relative;
        display: flex;
        top:-40px;
        z-index: 1;
        display: flex;
        @media screen and (min-width:750px){
          // display: none;
          top:-20px;
          // margin-left:50px;
          margin: auto;
        }
      }
  
      .me{
  
        margin:auto;
        width: 200px;
        @media screen and (min-width:750px){
          width:250px;
        }
        @media screen and (min-width:1000px){
          width:300px;
  
        }
  
  
      }
  
  
  }
  // foooter
  footer{
      background-color: #0d2135;
      position:relative;
      bottom: -100px;
      @media screen and (min-width:500px) {
        bottom: -10px;
      }
  
      .contacts-footer{
        display:flex;
        justify-content: center;
      }
      .footer-icon{
        color:#ffffff;
        padding: 40px;
        font-size: 55px;
      }
      .footer-icon:hover{
        color:rgb(78, 98, 141);
      } 
  }
}